.logo{
	padding: 20px 0px 20px 50px;
}

.titulo{
	padding-top: 60px;
}

.cuerpo{
	background-color: #e4e4e4;
}

header{
	background-color: white;
}

.fondo{
	background-color: white;
	border-radius: 10px;
	color: #676767;
	padding: 10px 30px;
}

.btn{
	margin: 10px;
}

.input-login{
	width: 45%;
    float: left;
    margin: 5px;
}

.boton-login{
    float: left;
    margin: 5px;
}